.item-comment {
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-left: 65px !important;
  padding-bottom: 10px !important;
  background-color: $c1;

  .comment-title {
    padding-right: 0px !important;
    padding-left: 0px
  }

  .comment-informations {
    margin-top: 10px;
  }

  .comment-icon{
    margin-top: 7px;
    text-align: center;
  }

  .options-icon{
    font-size: 25px;
    margin-top: 7px;
    text-align: center;
  }

  .comment-time{
    margin-top: 2%;
    font-size: 13px;
    color: $c5;
  }

  textarea{
    padding-top: 0px;
  }
}

.popup-container{
  z-index: 1041;
  background: rgba(0, 0, 0, 0.5);
}
.popover-backdrop {
  z-index: 1070;
  .popover {
    display: block !important;
    max-width: 165px !important;
    max-height: 110px !important;
    margin-top: 0px !important;
    .item{
      padding: 12px !important;
    }
  }
}

.scroll-bar-indicator {
  display: none;
}

.comments{
  background-color: $c4;
  height: auto;
  margin-bottom: 46px;
  ion-scroll{
    width: 100%;
  }
}

.comments-modal-header {
  .comments-modal-title{
    width: 69%;
  }
  img {
    width: 33px !important;
  }
}

ion-footer-bar {
  img {
    width: 45px !important;
    margin-left: 5px;
    margin-right: 10px;
  }

  label {
    margin-bottom: 0px !important;
  }
}

.text-wrap {
  display: table-column;
  word-break: break-word;
  overflow-x: auto;
  white-space: pre-line;
}

.message-footer{
 .item-input-wrapper{
   height: 45px;
   background-color: $c1 !important;
 }
  .footer-btn-wrap{
    margin-top: 6%;
  }

  textarea{
    background-color: $c1 !important;
    color: $c11 !important;
  }
}
