.promotion-details{
  .card{
    margin-left: 15px;
    margin-right: 0px;
    width: 92%;
  }
}

.history-content{
  bottom: 76px;
  margin-top: 2px;
}

.history-promotion-popup {
  .popup {
    height: 72%;
    width: 85%;
    .popup-body {
      height: 100%;
    }
  }
}

.promotion-history-item{
  border-width: 1px !important;
  margin: 0px !important;
}

.promotion-history-bar{
  i{
    font-size: 24px;
  }
}
