.search-component {
  .search-button {
    margin-left: 15px;
    margin-right: 0px;
    font-size: 27px;
  }
}

.bar-subheader {
  top: 90px;
  display: block;
  height: 66px;
}
.comments-view-body{
  top: 157px !important;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.1s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
}

.item-search {
  padding: 15px !important;
  .item-search-avatar {
    margin-right: 20px;
    margin-left: 10px;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .item-search-body {
    width: 64%;
    max-width: 64%;
    min-width: 64%;
  }
}
.item-search-chat{
  i{
    font-size: 30px;
  }
}
