.notification {
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-left: 65px !important;
  padding-bottom: 10px !important;

  .comment-title {
    padding-right: 0px !important;
    padding-left: 0px
  }

  .comment-informations {
    margin-top: 10px;
  }

  .comment-icon{
    margin-top: 7px;
    text-align: center;
  }

  .options-icon{
    font-size: 25px;
    margin-top: 7px;
    text-align: center;
  }

  .comment-time{
    margin-top: 2%;
    font-size: 13px;
    color: $c5;
  }

  textarea{
    padding-top: 0px;
  }
}

.notifications-content{
  background-color: $c1;
}

.background-dark{
  background-color: $c13;
}

.background-light{
  background-color: $c1;
}

.hint-img{
  width: 70%;
}

.hint-popup-body{
  text-align: center;
}

.hint-text{
  font-size:16px;
  white-space: normal !important;
}

.hint-popup{
  .popup{
    width:95%;
    max-height: 100% !important;
  }
  .popup-body{
    left: 15%;

    .card{
      margin: 0px;
    }
  }
}
