.timeline-content{
  background-color: $c4 !important;
  .card-content{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
  }
}

.ion-ios-star{
  color: $c2;
}

.publication{
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px !important;
  img{
    width: 60%;
    height: 100%;
  }

  ion-content{
    padding: 0px !important;
    .scroll{
      hr{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
      }
    }
    text-align: center;
  }

  .time-ago-publication{
    padding-left:0px !important;
  }
}

.evaluate-flex{
  flex: 0.96 !important;
  padding-right: 3%!important;
}

.promotion-informations{
  color: #808080;
  font-size: 11px;
  line-height: 14px;
  font-family: 'Roboto', sans-serif !important;
  .scroll{
    padding : 7px !important;
  }

  button{
    padding: 0px !important;
    margin: 0px !important;
  }
}

.promotion-details{
  color: #3b5998;
  font-family: 'Roboto', sans-serif !important;
  .row{
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }
}

.content-gradient{
  border-radius: 30px 0px;
  text-align: center;
  position: absolute;
  left:50%;
  width:50%;
  height: 51px;
  color: #FFF;
  background: rgba(239,71,58,0.7);
  h2{
    line-height: 55px;
  }
}

.timeline-background{
  background-color: inherit;
  .list {
    background-color: inherit;
  }
}

&.bar-stable{
  height: auto;
}

.timeline-end{
  text-align: center;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  color: #b2b2b2;
}

.card-separator{
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.discount-component{
  display:block;
  position:relative;
}

.active .modal-backdrop-bg {
  opacity: .5;
  transition: opacity 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal-backdrop{
  background-color: rgba(0, 0, 0, .075) !important;
}

.establishment-title-timeline{
  font-family: 'Roboto';
  color: $c2 !important;
  font-size: 14px;
  line-height: 18px;
  a{
    color: $c2;
  }
}

.establishment-subtitle-timeline{
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 18px;
  width: 190px !important;
}

.establishment-info {
  border-width: 0px !important;
  .establishment-info-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 86%;
  }
}

.favorite-icon{
  font-size: 30px !important;
}

.favorite-content{
  text-align: left;
  color: $c2;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 0px;
}

.medal-icon{
  font-size: 30px;
  text-align: center;
  width:15%;
}

.bronze-color{
  color: $c14;
}

.diamond{

}

.gold-color{
  color: $c16;
}

.silver-color{
  color: $c15;
}
