/* Empty. Add your own CSS if you like */
.circ-container img {
  border-radius: 50%;
  max-width:40px;
  max-height:30px;
}
.home-tab{
  .tab-nav{
    .tab-item-active{
      border-color:$c2;
    }

  }
}

.dropdown-menu{
  left: -133px !important;
  min-width: 165px;
}

.popover {
  padding: 0px 0px;
  max-width: 130px;
  max-height: 0px;
  border-radius: 5%;
}

.po ul {
  width: 130px;
  background: #33C05F;
  color: white;
  list-style: none;
  padding-left: 0px;
  border: solid 1px #33B05F;
}

.po li {
  border-bottom: 1px solid #33A05F;
  border-top: 1px solid #33A05F;
}

.po li a {
  color:#FFF;
  display:block;
  font-weight:normal;
  line-height:30px;
  margin:0px;
  text-align:left;
  padding-left: 10px;
  text-decoration:none;
}

.po li a:active {
  background: $c8;
  color: $c9;
}

.po li:first-child {
  border-top: none;
}

.po li:last-child {
  border-bottom: none;
}

.avatar-img {
  width: 35px !important;
  margin-left: 0px !important;
  margin-right: 3% !important;
}
.home-label-title {
  color: #FFF;
  opacity: 0.85;
  margin-left: 10px !important;
  line-height: 2.42857;
}

.tab-title{
  font-size: 15px;
}

.home-tab{
  .tab-nav{
    background-color:$c6 !important;
    .tab-item-active{
      border-color:$c2 !important;
      opacity: $opacity;
    }
  }
}

.tabs-striped.tabs-balanced .tab-item.tab-item-active{
  color: $c2 !important;
  opacity: $opacity;
}

.tabs-balanced > .tabs .tab-item .badge, .tabs.tabs-balanced .tab-item .badge {
  background-color: $c12;
  color: $c1;
  opacity: $opacity !important;
}


