<!--<ion-modal-view class="message-modal">
  <ion-header-bar class="bar-positive chat-modal-header">
    <i class="icon ion-android-arrow-back close-modal" ng-click="modal.hide()"></i>
    <img class="img-circle" ng-src="{{establishmentSelected.imageUrl}}" />
    <i ng-class="['ion-chatbox', 'f6']"></i>
    <div class="row chat-modal-title">
      <h4 ng-click="goTo('establishment_perfil', {'establishment': establishmentSelected})"
          class="no-margin text-overflow-1">{{establishmentSelected.name}}</h4>
      <!--{{promotionSelected.company.name}}</h4>-->
      <!--<h5 class="no-margin text-overflow">{{promotionSelected.productName}} </h5>
    </div>
    <i ng-click="modal.hide()" ng-class="['ion-ios-telephone', 'f5', 'c1', 'phone-chat']"></i>

  </ion-header-bar>

  <ion-content class="chat-body" delegate-handle="chatScroll">
    <ion-infinite-scroll on-infinite='loadOldMessages(comments.length, 10, loggedUser.token)'
                         ng-if="moreMessages" distance="15%" use-content="true">
      <ion-spinner class="spinner-dots"></ion-spinner>
    </ion-infinite-scroll>

    <ion-list>
      <div ng-repeat="message in messages" class="message-wrapper">

        <div ng-if="loggedUser._id !== message.userId">

          <img class="profile-pic left" ng-src="{{establishmentSelected.imageUrl}}"/>
          <div class="chat-bubble left">

            <div class="message"> {{message.text}} </div>
            <div class="message-detail">
              <div class="text-overflow">
                <span class="bold">{{establishmentSelected.name}}</span>
              </div>
              <span am-time-ago="message.date"></span>
            </div>

          </div>
        </div>

        <div ng-if="loggedUser._id === message.userId">

          <img class="profile-pic right" ng-src="{{loggedUser.photo}}"/>
          <div class="chat-bubble right">
            <div class="message">{{message.text}}</div>
            <div class="message-detail">
              <div class="text-overflow">
                <span class="bold">{{sliceString(loggedUser.name)}}</span>
              </div>
              <span am-time-ago="message.date"></span>
            </div>
          </div>

        </div>

        <div class="cf"></div>
      </div>
    </ion-list>

    <div ng-if="comments.length === 0"> <h5 class="timeline-end padding-top-15">{{'NO_COMMENTS_MSG' | translate}}</h5> </div>
    <ion-refresher pulling-text="{{'NEW_PROMOTIONS' | translate}}..."
                   on-refresh="loadNewComments(10, item._id, loggedUser.token)"
                   refreshing-text="{{'UPDATING_MSG' | translate}}" >
    </ion-refresher>

  </ion-content>

  <ion-footer-bar class="bar-stable item-input-inset message-footer">

    <img class="img-circle avatar-img" ng-src="{{myCroppedImage}}"/>
    <label class="item-input-wrapper">
      <textarea id="chat-message-area" rows="2" class='autoExpand' style="width :100%;" ng-model="messageText"
                placeholder="{{'WRITE_MESSAGE' | translate}}" required minlength="1" maxlength="1500"></textarea>
    </label>
    <div class="footer-btn-wrap">
      <button ng-class="['button', 'button-icon', 'icon',  'ion-android-send', 'footer-btn', 'f3', 'c2']"
              ng-click="sendMessage(messageText, loggedUser)"
              ng-disabled="!messageText" >
      </button>
    </div>

  </ion-footer-bar>
</ion-modal-view>
-->
