<ion-popover-view>
  <ion-content scroll="false">
    <div class="list">
      <a ng-click="openHideEditComment()" class="item" target="_blank">
        {{'EDIT' | translate}}
      </a>
      <a ng-click="removeComment(loggedUser.token)" class="item" target="_blank">
        {{'REMOVE' | translate}}
      </a>
    </div>
  </ion-content>
</ion-popover-view>
