<ion-modal-view class="message-modal">
  <ion-header-bar class="bar-positive comments-modal-header">
    <i class="icon ion-android-arrow-back close-modal" ng-click="modal.hide()"></i>
    <img class="img-circle avatar-img" ng-src="{{promotionSelected.images[0]}}" style="margin-left: 4%"/>
    <div class="comments-modal-title">
      <h4 class="no-margin text-overflow">{{promotionSelected.company.name}}</h4>
      <h5 class="no-margin text-overflow"> {{promotionSelected.productName}} </h5>
    </div>
  </ion-header-bar>

  <ion-content>
    <ion-refresher pulling-text="{{'NEW_PROMOTIONS' | translate}}..."
                   on-refresh="loadNewComments(promotionSelected._id, 10, loggedUser.token)"
                   refreshing-text="{{'UPDATING_MSG' | translate}}" >
    </ion-refresher>
    <ion-list>
      <ion-item ng-class="['item', 'item-avatar-left', 'item-comment']"
                ng-repeat="comment in comments track by $index">
        <img ng-src="{{comment._user.photo}}">
        <div class="row col-xs-12 col-sm-12 comment-title">
          <div class="col-xs-10 col-sm-10">
            <h2 class="comment-informations c2"><b>{{comment._user.name}}</b></h2>
          </div>
          <div class="col-xs-2 col-sm-2 comment-icon"
               ng-if="comment._user._id === loggedUser._id" ng-click="openCommentPopover($event, comment)">
              <i class="ion-ios-more-outline"></i>
          </div>
        </div>
        <div class="row col-xs-12 col-sm-12">
          <div ng-hide="comment.edit" class="text-wrap" ng-bind="comment.text"></div>
          <textarea ng-show="comment.edit" class='autoExpand' style="width :100%;" ng-model="comment.text"
                    placeholder="{{'WRITE_MESSAGE' | translate}}" required minlength="1" maxlength="1500"></textarea>
        </div>
        <div class="row col-xs-12 col-sm-12">
          <button class="button button-block button-positive" ng-show="comment.edit" ng-click="saveEditComment()">Ok</button>
          <button class="button button-block" ng-show="comment.edit" ng-click="openHideEditComment()">Cancelar</button>
        </div>
        <div class="row col-xs-12 col-sm-12 comment-time" am-time-ago="comment.date"></div>
     </ion-item>

    </ion-list>

    <div ng-if="comments.length === 0"> <h5 class="timeline-end padding-top-15">{{'NO_COMMENTS_MSG' | translate}}</h5> </div>

    <ion-infinite-scroll on-infinite='loadOldComments(comments.length, 10, loggedUser.token)'
                         ng-if="moreComments" distance="15%" use-content="true">
      <ion-spinner class="spinner-dots"></ion-spinner>
    </ion-infinite-scroll>
  </ion-content>
  <ion-footer-bar class="bar-stable item-input-inset message-footer">
    <img class="img-circle avatar-img" ng-src="{{myCroppedImage}}"/>
    <label class="item-input-wrapper">
      <textarea autofocus id="comment-area" rows="3" class='autoExpand' style="width :100%;" ng-model="messageText"
                placeholder="{{'WRITE_MESSAGE' | translate}}" required minlength="1" maxlength="1500"></textarea>
    </label>
    <div class="footer-btn-wrap">
      <button ng-disabled="!messageText || message == ''"
                ng-class="['button', 'button-icon', 'icon',  'ion-android-send', 'footer-btn', 'f3', 'c2']"
                ng-click="addComment(messageText, loggedUser); messageText = undefined;">
      </button>
   </div>

  </ion-footer-bar>

</ion-modal-view>
