<script id="registerUserPopup.html" type="text/ng-template">
	<span>
      <form name="userForm" class="form">
        <div class="form" ng-class="{'has-error' : userForm.nome.$invalid}">
          <span>  {{'NAME' | translate}}: </span>
          <input class="form-control" ng-model="newUser.name" type="text" required ng-blur=blur(userForm.nome)
              ng-focus= focus(userForm.nome) ng-minlenght="2" ng-pattern="/^[a-z\u00C0-\u00ff A-Z]+$/" name="nome"/>
          <p class="error-alert" ng-show="userForm.nome.$error.minlenght && userForm.nome.$dirty && userForm.nome.$blur">Seu nome é obrigatório</p>
          <p class="error-alert" ng-show="userForm.nome.$error.pattern && userForm.nome.$dirty && userForm.nome.$blur">Seu nome possui caracteres inválidos</p>
        </div>

        <div class="form" ng-class="{'has-error' : userForm.telefone.$invalid}">
          <span> {{'PHONE_NUMBER' | translate}}: </span>
          <input class="form-control" ng-model="newUser.phone" type="tel" required ng-blur=blur(userForm.telefone)
              ng-focus= focus(userForm.telefone) ng-pattern="/^\(?\d{2}\)?[\s-]?[\s9]?\d{4,5}-?\d{4}$/" ui-telefone name="telefone"/>
          <p class="error-alert" ng-show="userForm.telefone.$invalid && userForm.telefone.$dirty && userForm.telefone.$blur">{{'PHONE_FORMAT' | translate}}</p>
        </div>

        <div class="form" ng-class="{'has-error' : userForm.email.$invalid}">
          <span> {{'EMAIL' | translate}}: </span>
          <input class="form-control" ng-model="newUser.email" type="email" required ng-blur=blur(userForm.email)
              ng-focus= focus(userForm.email) name="email"/>
          <p class="error-alert" ng-show="userForm.email.$invalid && userForm.email.$dirty && userForm.email.$blur">{{'INVALID_EMAIL' | translate}}</p>
        </div>

        <div class="form" ng-class="{'has-error' : userForm.senha.$invalid}">
          <span> {{'PSW' | translate}}: </span>
          <input class="form-control" ng-model="newUser.password" type="password" required ng-blur=blur(userForm.senha)
              ng-focus= focus(userForm.senha) ng-minlength="6" ng-pattern="/^[a-zA-Z-0-9._-]+$/" name="senha"/>
          <p class="error-alert" ng-show="userForm.senha.$error.minlength && userForm.senha.$dirty && userForm.senha.$blur">{{'PASSWORD_SIZE' | translate}}</p>
           <p class="error-alert" ng-show="userForm.senha.$error.pattern && userForm.senha.$dirty && userForm.senha.$blur">Só são permitidos alfanuméricos e os caracteres '.', '-' e '_'</p>
        </div>

        <div class="form" ng-class="{'has-error' : userForm.confirmarSenha.$invalid}">
          <span> {{'CONFIRM_PSW' | translate}}: </span>
          <input class="form-control" ng-model="newUser.confirmPassword" type="password" required ng-blur=blur(userForm.confirmarSenha) ng-focus= focus(userForm.confirmarSenha) compare-to="newUser.password" ng-pattern="/^[a-zA-Z-0-9._-]+$/" name="confirmarSenha"/>
          <p class="error-alert" ng-show="userForm.confirmarSenha.$invalid && userForm.confirmarSenha.$dirty && userForm.confirmarSenha.$blur">{{'PASS_DO_NOT_MATCH' | translate}}</p>
        </div>
      </form>
    </span>
    <div class="popup-buttons">
      <button class="button button-default" type="button" ng-click=cancel()>{{'CANCEL' | translate}}</button>
      <button class="button button-positive" ng-disabled="userForm.$invalid" type="submit" ng-click=createUser(newUser)> {{'CREATE' | translate}}</button>
    </div>
</script>
