<ion-tabs class=" home-tab tabs-icon-top tabs-balanced">
  <!-- Dashboard Tab -->
  <ion-tab title="{{'LBL_HOME' | translate}}" icon-off="ion-android-restaurant"
           icon-on="ion-android-restaurant" badge="badges.newPromotionsAdded"
           ng-click="goToTimelineTab()">
    <ion-nav-view class="background-color-c4" name="tab-timeline"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab title="{{'LBL_SEARCH' | translate}}" icon-off="ion-android-search" icon-on="ion-android-search"
           ng-click="goToSearchTab()">

    <ion-nav-view class="background-color-c4" name="tab-search">
    </ion-nav-view>
  </ion-tab>

  <!-- Notifications Tab -->
  <ion-tab title="{{'LBL_NOTIFICATIONS' | translate}}" icon-off="ion-android-notifications"
           icon-on="ion-android-notifications" badge="badges.notifications"
           ng-click="goToNotificationTab(notifications, loggedUser.token)">
    <ion-nav-view class="background-color-c4" name="tab-notification"></ion-nav-view>
  </ion-tab>
</ion-tabs>
