.item-checkbox-transparent{
  border-color: transparent;
  border-width: 0;
  background-color: transparent;
  color: #FFF;
}

.border-right {
  border-right: solid 0.1pc white;
}

.logo{
  width: 50%;
  height: 23%;
  margin-left: 10%;
}

.checkbox-login{
  line-height: 1.6em !important;
  margin-left: 24px;
  span{
    margin-left: 12px
  }
}

.login-form{
  box-shadow: 0px 0px 0px 0px !important;
  top: 30px !important;
  text-align: center;
  .form{
    margin-top: 60px;
  }
  .input-form {
    input {
      height: 40px;
    }
    input[type=email], input[type=password]{
      padding-left: 15px;
    }
    span {
      border: 0px;
    }
  }

  input[type=checkbox]{
    width:16px !important;
    height:16px !important;
  }

  .checkbox input:after{
    left: 20% !important;
    top: 22% !important;
    width: 10px;
  }

  .checkbox input:disabled:checked:before{
    background: #387ef5 !important;
    border-color: #387ef5 !important;
    opacity: .5;
  }

  a {
    text-decoration: blink !important;
  }

  a.disabled {
    color: #AAAAAA;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
  }

  a.activated {
    text-decoration: underline !important;
  }

  .login-form-button[disabled]{
    opacity: .5 !important;
    line-height: 20px !important;
  }
 }

.input-group .input-group-addon{
  background-color: $c10 !important;
}






