<ion-view>
  <ion-content class="notifications-content">
    <ion-list>
      <ion-item ng-click="visualizeNotification(not, loggedUser.token);not.visualized = true;" ng-if="not.type == 'favorite'"
                ng-class="['item', 'item-avatar-left', 'notification',
                { 'background-dark' : !not.visualized, 'background-light' : not.visualized}]"
                ng-repeat="not in notifications track by $index">
        <img ng-src="{{not.info.images[0]}}"/>
        <div class="row col-xs-12 col-sm-12 comment-title">
          <div class="col-xs-10 col-sm-10">
            <h2 class="comment-informations c2"><b>{{ not.info.productType }} em promoção!</b></h2>
          </div>

        </div>
        <div class="row col-xs-12 col-sm-12 text-wrap">
          {{'SUPERMARKET_PREFIX' | translate}} <b>{{not.info._company.name}}</b> {{'SUPERMARKET_SUFIX' | translate}}
        </div>
        <div class="row col-xs-12 col-sm-12 comment-time" am-time-ago="{{not.date}}"></div>
      </ion-item>

      <ion-item ng-click="showHintPopup(not.info); not.visualized = true;"
                ng-if="not.type == 'hint'"
                ng-class="['item', 'item-avatar-left', 'notification', { 'background-dark' : !not.visualized, 'background-light' : not.visualized}]"
                ng-repeat="not in notifications track by $index">
        <img ng-src="{{not.info.establishment.imageUrl}}"/>
        <div class="row col-xs-12 col-sm-12 comment-title">
          <div class="col-xs-10 col-sm-10">
            <h2 class="comment-informations c2"><b>{{'HINT' |  translate}}</b></h2>
          </div>

        </div>
        <div class="row col-xs-12 col-sm-12 text-wrap">
          {{'SUPERMARKET_PREFIX' | translate}} <b>{{not.info.establishment.name}}</b> {{'HINT_SUFIX' | translate}}
        </div>
        <div class="row col-xs-12 col-sm-12 comment-time" am-time-ago="{{not.date}}"></div>
      </ion-item>

    </ion-list>
    <div ng-if="!moreNotifications"> <hr ng-if="notifications.length" class="card-separator">
      <h5 class="timeline-end padding-top-15">{{'NO_MORE_NOTIFICATIONS' | translate}}</h5>
    </div>
    <ion-infinite-scroll on-infinite='loadOldNotifications(notifications.length, 10, loggedUser.token)'
                         ng-if="moreNotifications" distance="15%" use-content="true">
      <ion-spinner class="spinner-dots"></ion-spinner>
    </ion-infinite-scroll>
  </ion-content>
</ion-view>

<script id="hint-popup.html" type="text/ng-template">
  <ion-header-bar class="bar-positive comments-modal-header">
    <img class="img-circle avatar-img" ng-src="{{hint.establishment.imageUrl}}" style="margin-left: 4%"/>
    <div class="comments-modal-title">
      <h4 class="no-margin text-overflow"> {{hint.establishment.name}} </h4>
    </div>
  </ion-header-bar>

  <div class="card">
    <ion-item class="padding-top-bottom-5 ">
      <p class="c2 f3 normal-text"><strong>{{hint.title}}</strong></p>
    </ion-item>
    <ion-item class="item-body hint-popup-body c2">
      <img class="hint-img" src="{{hint.imgUrl}}">
    </ion-item>
    <ion-item class="padding-top-bottom-5 c2">
      <p class="f2 hint-text">
        {{hint.text}}
      </p>
    </ion-item>
  </div>
</script>
