<ion-header-bar class="bar-balanced">
  <button class="button icon ion-android-arrow-back" ng-click="back()"></button>
  <h1 class="title">{{"PROMOTION_DETAILS_NAME" | translate}}</h1>
</ion-header-bar>
<ion-content class="promotion-details">
  <div class="card list">
    <ion-list>
      <ion-item class="padding-top-bottom-5 ">
        <p class="c2 f3 normal-text"><strong>{{promotion.productName}}</strong></p>
        <p class="c2 f2">
            {{promotion.company.name}}
        </p>
      </ion-item>
      <ion-item class="item-body c2">
        <img class="full-image" src="{{promotion.images[0]}}">
        <p>{{promotion.description}}</p>
        <p class="f1"><i class="icon ion-star"></i>
          {{"RECOMENDATIONS" | translate}}: {{promotion.likes}}
        </p>
      </ion-item>
      <ion-item>
        <p>{{"EXPIRATION_DATE" | translate}}: {{formatDate(promotion.shelf_life)}}</p>
        <p>{{promotion.description}}</p>
      </ion-item>
      <ion-item ng-controller="PromotionHistoryController"
                class="padding-top-bottom-5 item-icon-left c2" ng-click="showPromotionHistory()">
        <i class="icon ion-android-list"></i>
          {{'SEE_PRODUCT_HISTORY' | translate}}
      </ion-item>
    </ion-list>
 </div>
 <div class="card list">
   <ion-list>
     <ion-item class="item-divider c2">
       <strong>{{"START" | translate}}</strong>
     </ion-item>
     <ion-item class="padding-top-bottom-5 item-icon-left c2">
       <i class="icon ion-ios-calendar-outline"></i>
        {{formatDate(promotion.startDate)}}
     </ion-item>
     <ion-item class="padding-top-bottom-5 item-icon-left c2">
       <i class="icon ion-ios-clock-outline"></i>
        13:00
     </ion-item>
     <ion-item class="item-divider c2">
       <strong>{{"END" | translate}}</strong>
     </ion-item>
     <ion-item class="padding-top-bottom-5 item-icon-left c2">
       <i class="icon ion-ios-calendar-outline"></i>
        {{formatDate(promotion.endDate)}}
     </ion-item>
     <ion-item class="padding-top-bottom-5 item-icon-left c2">
       <i class="icon ion-ios-clock-outline"></i>
        9:30
     </ion-item>
   </ion-list>
 </div>
 <div class="card list">
   <ion-list>
     <ion-item class="item-divider c2">
       <strong>{{"ACTUAL_PRICE" | translate}}</strong>
     </ion-item>
     <ion-item class="padding-top-bottom-5 padding-left-15 item-icon-left c2">
        <strong>R$</strong> {{promotion.price.actual}}
        <span class="item-note">
          {{"OLD_PRICE" | translate}}: R$ {{promotion.price.old}} (
          {{calculateDiscount(promotion.price.old, promotion.price.actual)}}% {{"DISCOUNT_MSG" | translate}})
        </span>
     </ion-item>
  </div>
  <div class="card list">
    <ion-list>
      <ion-item class="item-divider c2">
        <strong>{{"LBL_PROMO_REASON" | translate}}</strong>
      </ion-item>
      <ion-item class="padding-top-bottom-5 padding-left-15 item-icon-left c2">
        <p>{{promotion.reason}}</p>
      </ion-item>
   </div>
   <div class="card list">
     <ion-list>
       <ion-item class="item-divider c2">
         <strong>{{"CONSERVATION" | translate}}</strong>
       </ion-item>
       <ion-item class="padding-top-bottom-5 padding-left-15 item-icon-left c2">
         <p>{{promotion.conservation}}</p>
       </ion-item>
    </div>
    <script id="promotion-history.html" type="text/ng-template">
        <ion-header-bar class="promotion-history-bar bar-positive">
            <i class="icon ion-android-list"></i>
            <h1 class="title">{{promotion.productName}}</h1>
        </ion-header-bar>
        <ion-content class="history-content" ng-controller="PromotionHistoryController">
            <ion-list>
                <ion-item class="item-avatar promotion-history-item" ng-repeat="item in history">
                    <img ng-src="{{item.images[0]}}"/>
                    <div>
                        <h2><b>{{ item.productName }}</b></h2>
                        <h3>{{"START_DATE" | translate}} : {{formatDate(item.endDate)}}</h3>
                        <h3>{{"SALE_PRICE" | translate}} : R$ {{item.price.actual}}</h3>
                        <h3>{{"DISCOUNT" | translate}}: {{calculateDiscount(item.price.old, item.price.actual)}} %</h3>

                    </div>
                </ion-item>
            </ion-list>
            <div ng-if="history.length == 0">
                <h5 class="timeline-end padding-top-15">{{'NO_MORE_HISTORY_MSG' | translate}}</h5>
            </div>
            <ion-infinite-scroll on-infinite='getPromotionTypeHistory(history.length, 10, promotion.productType, loggedUser.token)'
                                 ng-if="moreHistory" distance="15%" use-content="true">
                <ion-spinner class="spinner-dots"></ion-spinner>
            </ion-infinite-scroll>
        </ion-content>
    </script>
</ion-content>
