<ion-view class="background-color-c1">
  <ion-content class="login-form padding-horizontal-30 box-shadow">
    <img src="{{image.src}}" class="logo">
    <style>
      .form-control{
        margin-bottom: 5px;
      }
      .error-alert{
        color: red;
        font-size: 70%;
      }
    </style>
    <form name="loginForm" class="form">
      <div class="input-group input-form margin-top-20">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input ng-disabled='authenticating' ng-model= "loginUser.login" class="form-control" type="email"
               placeholder="{{'Email' | translate}}" name="login" required>
      </div>

      <div class="input-group input-form margin-top-20">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input  ng-disabled='authenticating' ng-model= "loginUser.senha" class="form-control" type="password"
                placeholder="{{'PSW' | translate}}" name="senha" required>
      </div>
    </form>

    <!--<label class="checkbox checkbox-login item-checkbox-transparent f1">
      <input  ng-disabled='authenticating' type="checkbox" id="manterLogado">
      <span>{{'KEEP_SIGNED_MSG' | translate}}</span>
    </label>-->
    <div ng-controller="PopupCtrl" class="col-sm-12 text-center margin-top-10 padding-0">
      <div class="row-fluid">
        <div class="span13" >
          <a ng-class="{disabled: authenticating}" class="inline col-sm-6 border-right c1 padding-left-0"
             ng-click="createSendPasswordPopup()">{{'FORGOT_PSW_MSG' | translate}}</a>
          <a ng-class="{disabled: authenticating}" class="inline col-sm-6 c1 padding-right-0"
             ng-click="createRegisterUserPopup()">{{"CREATE_ACCOUNT_MSG" | translate}}</a>
        </div>
      </div>
    </div>
    <button class="button button-block button-positive login-form-button margin-top-30"
            ng-disabled='authenticating' ng-click="login(loginForm,loginUser)">
      <span ng-hide ="authenticating">Enviar</span>
      <ion-spinner ng-show="authenticating" class="spinner-light"></ion-spinner>
    </button>

  </ion-content>
  <script id="registerUserPopup.html" type="text/ng-template">
    <span>
      <form name="userForm" class="form">
        <div class="form" ng-class="{'has-error' : userForm.nome.$invalid}">
          <span> {{'NAME' | translate}}: </span>
          <input class="form-control" ng-model="newUser.name" type="text" required ng-blur=blur(userForm.nome)
                 ng-focus= focus(userForm.nome) ng-minlenght="2" ng-pattern="/^[a-z\u00C0-\u00ff A-Z]+$/" name="nome"/>
          <p class="error-alert"
             ng-show="userForm.nome.$invalid && userForm.nome.$dirty && userForm.nome.$blur">
            {{'REQUIRED_FIELD' | translate}}
          </p>
          <p class="error-alert"
             ng-show="userForm.nome.$error.minlenght && userForm.nome.$dirty && userForm.nome.$blur">
            {{'NAME_REQUIRED_MSG' | translate}}
          </p>
          <p class="error-alert"
             ng-show="userForm.nome.$error.pattern && userForm.nome.$dirty && userForm.nome.$blur">
            {{'INVALID_CHARACTERES' | translate}}
          </p>
        </div>

        <div class="form" ng-class="{'has-error' : userForm.telefone.$invalid}">
          <span> {{'PHONE_NUMBER' | translate}}: </span>
          <input class="form-control" ng-model="newUser.phone" type="tel" required ng-blur=blur(userForm.telefone)
              ng-focus= focus(userForm.telefone) ng-pattern="/^\(?\d{2}\)?[\s-]?[\s9]?\d{4,5}-?\d{4}$/" ui-telefone name="telefone"/>
          <p class="error-alert" ng-show="userForm.telefone.$invalid && userForm.telefone.$dirty && userForm.telefone.$blur">
            {{'PHONE_FORMAT' | translate}}
          </p>
        </div>

        <div class="form" ng-class="{'has-error' : userForm.email.$invalid}">
          <span> {{'EMAIL' | translate}}: </span>
          <input class="form-control" ng-model="newUser.email" type="email" required ng-blur=blur(userForm.email)
              ng-focus= focus(userForm.email) name="email"/>
          <p class="error-alert" ng-show="userForm.email.$invalid && userForm.email.$dirty && userForm.email.$blur">
            {{'INVALID_EMAIL' | translate}}
          </p>
        </div>

        <div class="form" ng-class="{'has-error' : userForm.senha.$invalid}">
          <span> {{'PSW' | translate}}: </span>
          <input class="form-control" ng-model="newUser.password" type="password" required ng-blur=blur(userForm.senha)
              ng-focus= focus(userForm.senha) ng-minlength="6" ng-pattern="/^[a-zA-Z-0-9._-]+$/" name="senha"/>
          <p class="error-alert"
             ng-show="userForm.senha.$error.minlenght && userForm.senha.$dirty && userForm.senha.$blur">
            {{'PASSWORD_SIZE' | translate}}
          </p>
           <p class="error-alert"
              ng-show="userForm.senha.$error.pattern && userForm.senha.$dirty && userForm.senha.$blur">
             {{'ALPHA_NUMERICS_PERMISSION' | translate}}
           </p>
        </div>

        <div class="form" ng-class="{'has-error' : userForm.confirmarSenha.$invalid}">
          <span> {{'CONFIRM_PSW' | translate}}: </span>
          <input class="form-control" ng-model="newUser.confirmPassword" type="password"
                 required ng-blur=blur(userForm.confirmarSenha) ng-focus= focus(userForm.confirmarSenha)
                 compare-to="newUser.password" ng-pattern="/^[a-zA-Z-0-9._-]+$/" name="confirmarSenha"/>
          <p class="error-alert"
             ng-show="userForm.confirmarSenha.$invalid && userForm.confirmarSenha.$dirty && userForm.confirmarSenha.$blur">
            {{'PASS_DO_NOT_MATCH' | translate}}
          </p>
        </div>
      </form>
    </span>
    <div class="popup-buttons">
      <button class="button button-default" type="button" ng-click=cancel()>{{'CANCEL' | translate}}</button>
      <button class="button button-positive" ng-disabled="userForm.$invalid" type="submit" ng-click=createUser(newUser)>
        {{'CREATE' | translate}}
      </button>
    </div>
  </script>

  <script id="sendPasswordPopup.html" type="text/ng-template">
    <span>
      <input type="email" ng-model="info.email" placeholder="example@mail.com" required>
    </span>
  </script>
</ion-view>
