<div ng-controller="SettingsCtrl">
  <ion-header-bar class="bar-balanced">
    <button class="button icon ion-android-arrow-back" ng-click="back()"></button>
    <h1 class="title">{{"HEADER_SETTINGS" | translate}}</h1>
  </ion-header-bar>
  <ion-content class="settings-content">
    <div class="list card">
      <ion-item class="item-divider item-icon-left c2">
        <i class="icon ion-android-person c2 f3"></i>
          {{'PROFILE' | translate}}
      </ion-item>
      <ion-list>
        <ion-item class="padding-top-bottom-5 item-icon-right c2" ng-click="toggleGroup(edit.name)">
          <i class="icon c2 f3" ng-class="isGroupShown(edit.name) ? 'ion-ios-arrow-down'
          : 'ion-ios-arrow-forward'"></i>
            {{'NAME' | translate}}
          <div ng-show="!isGroupShown(edit.name)">
            <p>{{loggedUser.name}}</p>
          </div>
        </ion-item>
        <div class="card" ng-show="isGroupShown(edit.name)">
          <ion-list>
            <ion-item class="item-input item-stacked-label">
              <span class="input-label">{{"FIRST_NAME" |  translate}}</span>
              <input type="text" id= "newName" ng-minlenght="2" ng-pattern="/^[a-z\u00C0-\u00ff A-Z]+$/" placeholder="{{firstName()}}">
            </ion-item>
            <ion-item class="item item-input item-stacked-label">
              <span class="input-label">{{"LAST_NAME" |  translate}}</span>
              <input type="text" id= "newLastName" ng-minlenght="2" ng-pattern="/^[a-z\u00C0-\u00ff A-Z]+$/" placeholder="{{lastName()}}">
            </ion-item>
          </ion-list>
          <button class="button button-positive button-block" ng-click="updateNameUser()">
                {{"SAVE_CHANGES" |  translate}}
          </button>
          <button class="button button-stable button-block" ng-click="toggleGroup(edit.name)">
                {{"CANCEL" |  translate}}
          </button>
        </div>
        <ion-item class="padding-top-bottom-5 item-icon-right c2" ng-click="toggleGroup(edit.email)">
          <i class="icon c2 f3" ng-class="isGroupShown(edit.email) ? 'ion-ios-arrow-down'
          : 'ion-ios-arrow-forward'"></i>
            {{'EMAIL' | translate}}
            <div ng-show="!isGroupShown(edit.email)">
              <p>{{loggedUser.email}}</p>
            </div>
        </ion-item>
        <div class="card" ng-show="isGroupShown(edit.email)">
          <ion-list>
            <ion-item class="item-input item-stacked-label">
              <span class="input-label">e-mail</span>
              <input type="text" id="newEmail" ng-model="newEmail" placeholder="{{loggedUser.email}}">
            </ion-item>
          </ion-list>
          <button class="button button-positive button-block" ng-click="updateEmailUser()">
                {{"SAVE_CHANGES" |  translate}}
          </button>
          <button class="button button-stable button-block" ng-click="toggleGroup(edit.email)">
                {{"CANCEL" |  translate}}
          </button>
        </div>
        <ion-item class="padding-top-bottom-5 item-icon-right c2" ng-click="toggleGroup(edit.phone)">
          <i class="icon c2 f3" ng-class="isGroupShown(edit.phone) ? 'ion-ios-arrow-down'
          : 'ion-ios-arrow-forward'"></i>
            {{'PHONE_NUMBER' | translate}}
            <div ng-show="!isGroupShown(edit.phone)">
              <p>{{loggedUser.phone}}</p>
            </div>
        </ion-item>
        <div class="card" ng-show="isGroupShown(edit.phone)">
          <ion-list>
            <ion-item class="item-input item-stacked-label">
              <form name="userForm" class="form">
                <div class="form" ng-class="{'has-error' : userForm.phone.$invalid}">
                  <span> {{'PHONE_NUMBER' | translate}}: </span>
                  <input ng-model="newPhone" id="newPhone" type="tel" placeholder="{{loggedUser.phone}}" required ng-blur=blur(userForm.phone)
                    ng-focus= focus(userForm.phone) ng-pattern="/^\(?\d{2}\)?[\s-]?[\s9]?\d{4,5}-?\d{4}$/" ui-telefone name="phone"/>
                    <p class="error-alert" ng-show="userForm.telefone.$invalid && userForm.phone.$dirty && userForm.phone.$blur">{{'PHONE_FORMAT' | translate}}</p>
                </div>
              </form>
            </ion-item>
          </ion-list>
          <button class="button button-positive button-block" ng-click="updatePhone()">
                {{"SAVE_CHANGES" |  translate}}
          </button>
          <button class="button button-stable button-block" ng-click="toggleGroup(edit.phone)">
                {{"CANCEL" |  translate}}
          </button>
        </div>
        <ion-item class="padding-top-bottom-5 item-icon-right c2" ng-click="toggleGroup(edit.password)">
          <i class="icon c2 f3" ng-class="isGroupShown(edit.password) ? 'ion-ios-arrow-down'
          : 'ion-ios-arrow-forward'"></i>
            {{'PSW' | translate}}
        </ion-item>
        <div class="card" ng-show="isGroupShown(edit.password)">
          <ion-list>
            <label class="item item-input">
              <input type="password" id="password" placeholder="{{'CURRENT_PASSWORD' | translate}}">
            </label>
            <label class="item item-input">
              <input type="password" id="newPassword" ng-minlength="6" ng-pattern="/^[a-zA-Z-0-9._-]+$/" placeholder="{{'NEW_PASSWORD' | translate}}">
            </label>
            <label class="item item-input">
              <input type="password" id="confimNewPassword" ng-minlength="6" ng-pattern="/^[a-zA-Z-0-9._-]+$/" placeholder="{{'RE_TYPE_NEW_PASSWORD' | translate}}">
            </label>
          </ion-list>
          <button class="button button-positive button-block" ng-click="updatePassword()">
                {{"CHANGE_PASSWORD" |  translate}}
          </button>
          <button class="button button-stable button-block" ng-click="toggleGroup(edit.password)">
                {{"CANCEL" |  translate}}
          </button>
        </div>
      </ion-list>
    </div>

    <div class="list card">

      <ion-item class="item-divider item-icon-left c2" >
        <i class="icon ion-wrench c2 f3"></i>
        {{ "GENERAL" | translate }}
      </ion-item>

      <li class="item item-toggle">
        {{'SETTINGS.SHOW_FINALIZED_PROMOTIONS' | translate}}
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="removeFinishPromotions" ng-change="removeAllFinalizedPromotions(removeFinishPromotions)">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
        {{'SETTINGS.VIBRATION' | translate}}
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="loggedUser.settings.vibration" ng-change="updateVibration(loggedUser.settings.vibration)">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
    </div>

    <div class="list card">
      <ion-item class="item-divider item-icon-left c2" >
        <i class="icon ion-ios-world-outline c2 f3"></i>
          {{ "SUBHEADER_LNG" | translate }}
      </ion-item>
      <ion-list>
        <ion-item class="padding-top-bottom-5 item-icon-right c2" ng-click="toggleGroup(language)">
          <i class="icon c2 f3" ng-class="language.show ? 'ion-ios-arrow-down': 'ion-ios-arrow-forward'"></i>
            {{ "LBL_SELECT_LNG" | translate }}
        </ion-item>
        <ion-radio class="c3 f1" ng-repeat="item in language.items"
                    ng-show="language.show" ng-value="item.val"
                    ng-model="data.clientSide" ng-change="changeLanguage(item.val); toggleGroup(language)">
            {{item.name}}
        </ion-radio>
      </ion-list>
    </div>
  </ion-content>
</div>
