<ion-view class="background-color-c4">
  <ion-header-bar class="bar-subheader bar-light">
    <div class="item-input-inset search-component">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input ng-insert type="search" placeholder="{{'SEARCH' | translate}}"
               ng-model="searchName" callback="search"/>
      </label>
      <a ng-click="toggleGroup()" class="search-button ion-funnel"></a>
    </div>
    <div class="list card check-element animate-show no-margin" ng-show="show">
      <ion-list>
        <ion-radio ng-repeat="id in ids track by $index"
                   ng-value="id" ng-model="data.value" ng-click="showSearchConfig()">
          {{id | translate}}
        </ion-radio>
      </ion-list>
    </div>
  </ion-header-bar>
  <ion-content class="comments-view-body">
      <div ng-show="data.value === ids.SEARCH_ESTABLISH_BY_NAME"
           ng-repeat="item in items" class="row item item-search">
        <div class="item-search-avatar">
          <img class="img-circle" ng-src="{{item.imageUrl}}"/>
        </div>
        <div class="item-search-body" ng-click="goTo('establishment_perfil', {'establishment': item});">
          <h2><b>{{ item.name }}</b></h2>
          <h3>{{item.subtitle}}</h3>
          <h5>
            {{item.address.street}},
            Nº {{item.address.number}},
            {{item.address.neighborhood}}
          </h5></div>
        <!--<button ng-controller="ChatCtrl" ng-click="openChat(item)" class="button button-light item-search-chat">
          <i class="ion-chatboxes"></i>
        </button>-->
      </div>

      <ion-item ng-show="data.value === ids.SEARCH_PROMOTION_BY_NAME"
                ng-repeat="item in items" ng-click="goTo('promotion_details', {'item': item})" class="item item-avatar-left">
        <img ng-src="{{item.images[0]}}"/>
        <div>
          <h2><b>{{ item.productName }}</b></h2>
          <h3>{{item.company.name}}</h3>
          <h4>{{'FINALIZE_PROMOTION' | translate}} - {{formatDate(item.endDate)}}</h4>
        </div>
      </ion-item>
      <div ng-if="!items.length">
        <hr class="card-separator">
        <h5 class="timeline-end padding-top-15">{{'NO_MORE_SEARCH_RESULTS' | translate}}</h5>
      </div>
      <ion-infinite-scroll on-infinite='loadOldData(items.length, 10, loggedUser.token)'
        ng-if="moreData" distance="10%" use-content="true">
      <ion-spinner class="spinner-dots"></ion-spinner>
  </ion-content>
</ion-view>
