
$c1 : #FFF;
$c2 : #0D4BD0;
$c3 : #b2b2b2;
$c4 : #f8f8f8;
$c5 : #9e9e9e;
$c6 : #33CD5F;
$c7 : #27c32e;
$c8 : #33A05F;
$c9 : #000;
$c10: #EEE;
$c11: #808080;
$c12: #F44336;
$c13: #F9F9F3;
$c14: #CD7f32;
$c15: #C0C0C0;
$c16: #FFD700;

$opacity : 1;

.c1{
  color: $c1 !important;
}

.c2{
  color: $c2 !important;
  opacity: $opacity !important;
}

.c3{
  color: $c3 !important;
}

.c4{
  color: $c4 !important;
}

.c5 {
  color: $c5 !important;
  opacity: 0.17;
}

.c7 {
  color: $c7 !important;
}

.c8 {
  color: $c8 !important;
}

.c9{
  color: $c9 !important;
}

.background-color-c1{
  background-color: $c6 ;
}
.background-color-c4{
  background-color: $c4 !important;
}

.bronze-color{
  color: $c14 !important;
}

.diamond{

}

.gold-color{
  color: $c16 !important;
}

.silver-color{
  color: $c15 !important;
}
