.f1{
  font-size: 15px !important;
}
.f2{
  font-size: 17px !important;
}
.f3{
  font-size: 22px !important;
}
.f4{
  font-size: 28px !important;
}

.f5{
  font-size: 32px !important;
}

.f6{
  font-size: 25px !important;
}
