<ion-view>
  <ion-content class="timeline-content">
    <ion-refresher pulling-text="{{'SEEKING_INFORMATIONS' | translate}}..."
                   on-refresh="loadNewData(10, loggedUser.settings.removeFinishPromotions)"
                   refreshing-text="{{'UPDATING_MSG' | translate}}" >
    </ion-refresher>
    <ion-list>
      <div id="card-content" class="card-content" ng-repeat="item in items track by $index">
        <div class="card list publication">
          <!-- Promotion title -->

          <div class="item item-avatar-left establishment-info">
            <img ng-src="{{item.company.imageUrl}}">
            <div class="row">
              <div class="col-sm-9 establishment-info-content">
                <h2 class="text-overflow establishment-title-timeline">
                  <a href ng-click="goTo('establishment_perfil', {'establishment': item.company})">
                    {{item.company.name}}
                  </a>
                </h2>
                <h3 class="establishment-subtitle-timeline text-overflow"> {{item.company.subtitle}}</h3>
              </div>
              <div class="col-sm-3 medal-icon {{RANK[item.company.rank].class}}">
                <i class="{{RANK[item.company.rank].icon}}"></i>
              </div>
            </div>

            <div class="col-xs-8 col-sm-8 time-ago-publication">
              <p am-time-ago="dateFromObjectId(item._id)"></p>
            </div>
          </div>

          <ion-content scroll="false" class="item">
            <!-- Promotion image -->
            <ion-content scroll="false" ng-class="['discount-component', {'opacity-60' : item.finalized}]">
              <img ng-src="{{item.images[0]}}"/>
              <span ng-if="!item.finalized" scroll="false" class="content-gradient">
                <h2>{{item.discount}}% {{"DISCOUNT_MSG" | translate}}</h2>
              </span>
              <span ng-if="item.finalized" scroll="false" class="content-gradient">
                <h2>{{"PROMO_STATUS" | translate}}</h2>
              </span>
            </ion-content>

            <!-- Promotion informations -->
            <ion-content  scroll="false" class="promotion-informations container col-sm-12">
              <div class="row margin-top-10">
                <div class="col text-center">
                  <button tooltip type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Vencimento da promoção">
                    <i class="ion-ios-time f4 c2"></i>
                  </button>
                  <h6 class="f1 c3"> {{formatDate(item.endDate)}} </h6>
                </div>
                <div class="col text-center">
                  <button tooltip type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="valor do produto com desconto">
                    <i class="ion-social-usd f4 c2"></i>
                  </button>
                  <h6 class="f1 c3"> R$ {{item.price.actual.toFixed(2)}} /<br/>{{item.price.unit}}</h6>
                </div>
                <div class="col text-center">
                  <div class="social-icon-holder">
                    <button tooltip type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quantidade de pessoas que gostaram">
                      <i class="ion-android-person social-icon f4 c2"></i>
                    </button>
                  </div>
                  <h6 class="f1 c3">{{item.likes}}</h6>
                </div>
                <div class="col text-center">
                  <button tooltip type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Motivo da promoção">
                    <i class="ion-trash-a f4 c2"></i>
                  </button>
                  <h6 class="f1 c3"> {{'DAMAGED' | translate}}</h6>
                </div>
              </div>
            </ion-content>
            <hr class="no-margin"/>
            <!-- Promotion evaluates -->

            <ion-content scroll="false" class="container col-sm-12 promotion-details">
              <div class="row">
                <div ng-click="addOrRemoveLike(item)" class="col-25 text-center">
                  <i ng-class="['ion-thumbsup', 'f3', {'c2': item.like, 'c3': !item.like}]"></i>
                  <a ng-click="" ng-class="['subdued f1', {'c2': item.like, 'c3': !item.like}]"> {{"LBL_LIKE" | translate}} </a>
                </div>
                <div ng-controller="CommentsCtrl" ng-click="openCommentsModal(item)"
                     class="col-50 evaluate-flex text-center">
                  <i ng-class="['ion-ios-chatboxes', 'f3', 'c3']"></i>
                  <a class="subdued c3 f1"> {{"LBL_COMMENT" | translate}} </a>
                </div>
                <div ng-click="goTo('promotion_details', {'item': item})" class="col-25 text-center">
                  <i ng-class="['ion-share', 'f3', 'c3']"></i>
                  <a class="subdued c3 f1"> {{"LBL_DETAILS" | translate}} </a>
                </div>
              </div>
            </ion-content>
          </ion-content>

        </div>
      </div>
    </ion-list>
    <div ng-if="!moreData"> <hr ng-if="items.length" class="card-separator">
      <h5 class="timeline-end padding-top-15">{{'NO_MORE_PROMO_MSG' | translate}}</h5>
    </div>
    <ion-infinite-scroll on-infinite='loadOldData(items.length, 10, loggedUser.settings.removeFinishPromotions, loggedUser.token)'
                         ng-if="moreData" distance="15%" use-content="true">
      <ion-spinner class="spinner-dots"></ion-spinner>
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
