<div>
  <ion-header-bar class="bar-balanced">
    <button class="button icon ion-android-arrow-back" ng-click="back()"></button>
    <h1 class="title">{{'ESTABLISHMENT_PROFILE_NAME' | translate}}</h1>
  </ion-header-bar>
  <ion-content class="establishment-timeline">
    <content has-header="true" padding="true">
      <div class="card list">
        <ion-list>
          <ion-item class="padding-top-bottom-5">
            <h2 class="c2 f3 normal-text"><strong>{{establishment.name}}</strong></h2>
            <h4 class="f2">{{establishment.type}}</h4>
          </ion-item>
          <ion-item class="item-body c2">
            <img class="full-image" src="{{establishment.imageUrl}}">
            <p class="c2 f1" align="center">{{establishment.subtitle}}</p>
          </ion-item>
        </ion-list>
      </div>

      <div class="card list">
        <ion-item class="c2 padding-left-15 item-icon-right">
          <i class="icon {{RANK[establishment.rank].icon}} {{RANK[establishment.rank].class}}"></i>
          <strong>{{"CATEGORY" | translate}}</strong>
          <span class="item-note">({{establishment.rank | translate}})</span>
        </ion-item>
      </div>
      <div class="card list">
          <ion-item class="item-divider c2 padding-top-bottom-5 padding-left-15 item-icon-right">
            <i class="icon ion-ios-telephone-outline"></i>
            <strong>{{"CONTACT" | translate}}</strong>
          </ion-item>
          <ion-item class="padding-top-bottom-5 padding-left-15 item-icon-left c2">
            <button class="button icon-left ion-android-clipboard" ng-click='clickHandler()'> <strong>&nbsp;{{establishment.phones[0]}}</strong></button>
          </ion-item>
      </div>
      <div class="card list">
        <ion-list>
          <ion-item class="item-divider c2 padding-top-bottom-5 padding-left-15 item-icon-right">
            <i class="icon ion-home"></i>
            <strong>{{"ADDRESS" | translate}}</strong>
          </ion-item>
          <ion-item>
            {{establishment.address.street}}, {{establishment.address.number}}
          </ion-item>
          <ion-item>
            {{establishment.address.neighborhood}}
          </ion-item>
          <ion-item>
            {{'ZIP_CODE' | translate}}: {{establishment.address.cep}}
          </ion-item>
        </ion-list>
      </div>
      <div style="text-align: center">
        <button ng-controller="TimelineCtrl" class="button button-balanced"
                ng-click="goTo('establishment_promotions', {'establishment': establishment})">
          {{'SEE_PROMOTIONS' | translate}}
        </button>
      </div>
    </content>
  </ion-content>
</div>
